<% if flash.has?(:empty_field) %>
    <h2><%= flash[:empty_field] %>
<% end %>

<h1>Welcome to PhishBook</h1>
<h2>Create a new account</h2>
<form action="/fans/signup" method="POST">
<label for="username">Username:</label>
<input type="text" name="username" id="username" /><br>
<label for="email">Email:</label>
<input type="text" name="email" id="email" /><br>
<label for="password">Password:</label>
<input type="password" name="password" id="password" /><br>
<button type="submit">Create a new PhishBook Account</button>
</form>