<h1><%= @show[:venue] %></h1>
<h2><%= @show[:location] %></h2>
<h2><%= @show[:date] %></h2>
<p><%= @show[:setlist] %></p>

<h3>Memories:</h3>

<a>Add to My shows</a>
<a>Add a Memory</a><br>
<a>Back to homepage</a><br>
<a>Back to current year</a><br>
<a>Back to years index</a>
