<h1>About PhishBook</h1>
<div>
    <p>About PhishBook Content.  To be filled in</p>
</div>
<div id="log_sign"><a href="/fans/login">Login</a></div>
<div id="log_sign"><a href="/fans/signup">Create a new account</a></div>