<h1>WELCOME TO PHISH BOOK</h1>
<h2>Where Phans Remember All The Feelings They Forgot</h2>
<br>
<h4>Login</h4>
<form action="/fans/login" method="POST">
<label for="username">Username:</label>
<input type="text" name="username" id="username"/><br>
<label for="password">Password:</label>
<input type="text" name="password" id="password"/><br>
<button type="submit">Login</button>
</form>
<br>
<h4>Create A New Account</h4>
<div id="log_sign"><a href="/fans/signup">Create a new account</a></div>
