<h1>WELCOME TO PHISH BOOK</h1>
<h2>Where Phans Remember All The Feelings They Forgot</h2>
<div id="log_sign"><a href="/login">Login</a></div><br>
<div id="log_sign"><a href="/new">Create a new account</a></div>
