<h1> Shows by year</h1>

<div id="years_bar">
<% Year.all.reverse.each do |y| %> 
    <ul>
        <li> <a href="/years/<%= y.value %>"> <%= y.value %> </a></li>
        <% end %>
    </ul> 

</div>

